*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  place-items: end;
  gap: 32px;
  inline-size: 1140px;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: content__details;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.content__list-container {
  position: relative;
  block-size: 298px;
  overflow: auto;
   display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  object-fit: cover;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 75px;
  font-family: "Oswald",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__video-card-title {
  display: block;
  font-family: "Oswald",sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: right top;
  width: 194px;
  height: 103px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  font-family: "Fira Sans Condensed",sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed",sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}
.search-form__label-text {
 font-family: "Fira Sans Condensed",sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield {
  margin-top: 5px;
  width: 225px;
  height: 27px;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-color: white;
  color: #fff;
  font-size: 18px;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 400;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  display: block;
  color: #fff;
  background-color: #1b1919;
  border: 1px solid #fff;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  height: 34px;
  align-self: flex-end;
}

.more-button {
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 18px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-style: double;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
}
